<!--<h2 class="text-muted">صفحة احصائيات  مبادرة تمويل</h2>-->
<!--<div class="row">
    <div class="col-md-12">
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let slider of sliders">
                <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                <div class="carousel-caption">
                    <h3>{{slider.label}}</h3>
                    <p>{{slider.text}}</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>-->
<hr>

<div class="row">
    <div class="col-xl-4 col-lg-8">
        <button type="button" class="btn btn-lg btn-primary btn-block" (click)="Settik('Argu')">زراعي</button>
    </div>
    <div class="col-xl-4 col-lg-8">
       <button type="button" class="btn btn-lg btn-success btn-block" (click)="Settik('Fact')">صناعي</button>
    </div>
    <div class="col-xl-4 col-lg-8">
        <button type="button" class="btn btn-lg btn-info btn-block" (click)="Settik('Small')">صغيرة</button>
    </div>    
</div>

<hr />
<div class="row">

   
    <div class="col-xl-4 col-lg-8">
              <div class="form-group">
                <label>المصرف</label>
                <select class="form-control" [(ngModel)] ="_tokrok.IDBank">
                    <option value="0">المصرف</option>
                    <!--<option *ngfor(let bnk of banks)>{{bnk.name}}</option>-->
                     
                </select>
            </div>
    </div>
    <div class="col-xl-4 col-lg-8">
                <div class="form-group">
                <label>نوع النشاط</label>
                 <input class="form-control" placeholder="Enter purpose" [(ngModel)] ="_tokrok.DiscrPurposeProject">
            </div>
    </div>
    <div class="col-xl-4 col-lg-8">
              <div class="form-group">
                <label>اسم المقترض</label>
                 <input class="form-control" placeholder="Enter name" [(ngModel)] ="_tokrok.CustmerName">
            </div>
    </div>
</div>
<hr />
 
<div class="row">

   
    <div class="col-xl-4 col-lg-8">
              <div class="form-group">
                <label>المحافظة</label>
                <select class="form-control" [(ngModel)] ="_tokrok.IdReg">
                    <option value="0">المحافظة</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
    </div>
    <div class="col-xl-4 col-lg-8">
              <div class="form-group">
                <label>القضاء</label>
                <select class="form-control" [(ngModel)] ="_tokrok.IdQthaa">
                    <option value="0">القضاء</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
    </div>
    <div class="col-xl-4 col-lg-8">
              <div class="form-group">
                <label>الناحية</label>
                <select class="form-control" [(ngModel)] ="_tokrok.IDNahia">
                    <option value="0">الناحية</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
    </div>
</div>
<hr />
<div class="row">

   
    <div class="col-xl-3 col-lg-8">
              <div class="form-group">
                <label>المبلغ من </label>
                <input type="number" [(ngModel)] ="_tokrok.MonyAccept1" >
            </div>
    </div>
    <div class="col-xl-3 col-lg-8">
              <div class="form-group">
                <label>المبلغ الى </label>
                <input type="number" [(ngModel)] ="_tokrok.MonyAccept2" >
            </div>
    </div>
    <div class="col-xl-3 col-lg-8"> 
           <div class="form-group">
                <label>تاريخ الموافقة من </label> 
                <input type="date" [(ngModel)] ="_tokrok.DateAccept1" >
            </div>
    </div>
    <div class="col-xl-3 col-lg-8"> 
           <div class="form-group">
                <label>تاريخ الموافقة الى </label> 
                <input type="date" [(ngModel)] ="_tokrok.DateAccept2" >
            </div>
    </div>
       
</div>
<hr />
<!--<ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>-->
<div class="row">

   
   <div class="col-xl-6 col-lg-12"> 
        
    </div>
    <div class="col-xl-6 col-lg-12"> 
        
    </div>
       
</div>
      

<hr />
 
