.main-container{
    margin-top: 60px;
    // margin-left: 235px;
     //margin-left: 0px;
      margin-left: 0px ;
        margin-right: 0px ;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 1224px) {
    .main-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
        
    }
}
